
/**
 
CSS editing directory
 
Labeled sections for easier navigating
 
01. Controls    - tumblr controls, selection, and scrollbar
02. General     - body, links, headings, etc
03. Sidebar     - sidbear, description, icon
04. Posts       - container, posts, post styles
05. Responsive  - Mobile design
 
**/
 
/* ------------
 
 01. Controls
 
 ------------ */
 
 ::-moz-selection {background:{color:selection bg};color:{color:selection}}
::selection {background:{color:selection bg};color:{color:selection};}
@font-face { font-family: "beerg"; src: url('https://dl.dropboxusercontent.com/s/a3xulwaiiwm0e0i/MANOLETE.ttf'); }

/* ------------
 
 02. General
 
 ------------ */
* {
    box-sizing:border-box;
}
body {
background:{color:background};
font-family: 'Poppins', sans-serif;
color:{color:text};
font-size:15px;
margin:0px;
overflow-x:hidden;
word-wrap:break-word;
}


a {
    text-decoration:none;
    color:{color:accent};
}

a:hover {
    color:{color:link hover};
    transition:.6s;
}

.reblog-content a, figcaption a {
    color:{color:text};
    border-bottom:2px solid rgba({RGBcolor:links}, .52);
    
}

/* ------------
 
 03. Header
 
 ------------ */


header {
   
    width:calc(100% - 30%);
    left:30%;
   
}

.header {
      margin:25vh auto 40vh 25%;
      width:100%;
       display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
}

h1 {
    
}

.first-word {
    color:{color:accent};
}
.description {
    margin-top:6px;
    position:relative;
    overflow:hidden;
    border:1px solid #eee;
}
.desc {
    width:calc(100% - 40px);
    padding:20px;
    position:relative;
    overflow:hidden;
}

.links {
    border-top:1px solid #eee;
  padding:20px;
    background:rgba(0,0,0,.008);
}

.links a {
    margin:0px 10px;
}

.menu a {
    margin-left:8px;
}

.menu {
   position:absolute;
   transition:.6s;
   width:100%;
   left:0;
   bottom:0;
   display:flex;
   justify-content:center;
   flex-wrap:wrap;
   background:white;
   align-items:center;
   height:100%;
   transform:translateY(-100%);
}

.menu.open {
    transform:translateY(0);
}

.t {
    width:100%;
    height:4vh;
    margin:0px auto 60vh;
}

aside {
    
    background:#FF6F61;
    position:fixed;
    width:35%;
    height:100vh;
    top:0;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    left:0;
    transition:.6s;
}


aside.slide {
    width:16%;
    transition:.6s;
}



/* ------------
 
 04. Posts
 
 ------------ */

main {
    width:calc(70%);
    margin-top:160px;

}

.posts, ol.notes, #disqus_thread{
    width:100%;
    margin:25vh auto 25vh 30%;
    position:relative;

 
    
}

 #disqus_thread {
     background:{color:posts};
     padding:20px;
 }
 
 ol.notes {
     margin:0;
     padding:0;
 }

ol.notes li {
    display:inline-block;
    width:50px;
    list-style:none;
    color:transparent;
    height:50px;
    margin:10px;
    padding:0px;
    overflow:hidden;
}

ol.notes img {
    width:50px;
    height:50px;
}


.posts {
    display:flex;
    flex-wrap:wrap;
}


header .im img {
    max-width:480px;
    display:block;
    margin-left:auto;
    border-radius:4px;
    margin-right:auto;
}
.im {
    position:relative;
}
.im:hover .th-eyelash:before, .phot:hover .th-eyelash:before {
    content:'\ea15';
    transition:.6s;
}
.eye {
    position:absolute;
    color:white;
    font-size:1.4em;
    width:30px;
    margin:10px;
    box-shadow:2px 2px 20px rgba({RGBcolor:links}, .12);
    display:flex;
    align-items:center;
    justify-content:center;
    height:30px;
    transform:translateY(-10px);
    opacity:0;
    transition:.6s;
    border-radius:100%;
    z-index:9999!important;
    background:{color:posts};
}

.posts:hover .eye {
    opacity:1;
    transform:translate(0,0);
}

.th-eyelash  {
    color:{color:accent}!important;
}
.im, .phot {
    width:calc(50% - 20px)!important;
    border-radius:4px;
    overflow:hidden;
}

.info {
    font-size:.96em;
    opacity:.8;
    
}

.tags {
 font-size:.98em;
padding:6px 6px;
}

.tags a {
    margin-left:6px;
}
.im img {
    width:100%;
    
}

.caption {
    width:100%;
       
}

header .caption, .photos .caption {
    width:calc(50% - 40px);
    
    align-self:center;
    background:{color:posts};
}
.photos .caption {
    position:sticky;
     border:1px solid {color:border};
    top:0px;
    margin-left:20px;

}


.user {
    color:{color:text};
    padding:0px 2px;
    border:none;
    margin-left:10px;
    font-weight:bold;
    border-radius:8px;
}



.posts img {
    max-width:100%;
    display:block;
}



.cap {
    display:flex!important;
    width:100%;
    height:100%;
    align-items: flex-start!important;
    flex-wrap:wrap!important;
    
}

.cap .usernames {
    margin-left:0;
}

.cap .ava {
    width:44px;
    margin:0 10px 0 0;
    height:100%;
    top:0px!important;
     align-self: flex-start!important;
    
}

.cap  .reblog-content {
margin-left:10px;
    width:calc(100% - 80px);
    display:inline-block!important;
}
.ava img {
    width:44px;
    border-radius:100%;
}


.reblog-header {
    display:flex;
    padding:10px;
    align-items:center;
}



.reblog-header img {
    width:44px;
}

.usernames {
    margin-left:16px;
    color:rgba(0,0,0,.72);
        font-size:.98em;
        line-height:150%;
}
.user {
    font-size:1.08em;
}

.chat {
    padding:10px;
}

/* Audio Posts */
 
 
.posts #albumart{
   z-index:2;
    float:left;
border-radius:100%;
  height:100px;
  border:1px solid {color:info border};
  width:100px;
}
 
 
 
/* circle inside the album art to make it look like a CD */
 
.playerbox {
    float:left;
    padding:6px;
}
 
 
.posts #albumart img{
 
 
float:left;
border-radius:100%;
width:100px;
height:100px;
border-width:0px; transition:.6s;
   
}
 
.playerbox:hover #albumart img{
    transition:0.6s;
transform:rotate(300deg); }
 
 .player {
    width:20px;
    overflow:hidden;
    height:40px;
    transform:scale(1.2);
    border-radius:100%;
    top:8px;
    bottom:10px;
    left:4px;
 
    padding:8px;
    padding-top:6px;
    padding-left:10px;
    padding-bottom:0px;
    border-radius:100%;
    position:absolute;
   
}
 
 
.playercon {
    width:56px;
    height:56px;
  border-radius:100%;
   left:0px;
    background:#f2f2f2;
   top:22px;
    position:relative;
    border:1px solid {color:info border};
    -webkit-transition-duration:500ms;
    -moz-transition-duration:500ms;
    -o-transition-duration:500ms;
    -ms-transition-duration:500ms;
}
  {/block:permalinkpage}
.infobox {
    float:left top;
     margin-left:50px;
    background-color:transparent;
    padding:14px;
    padding-left:4px;
    max-height:140px;
    text-align:left;
    color:{color:text};
}
 
.trackname {

    letter-spacing:2px;
    padding:6px;

width:100%;
    font-weight:300;

    
   
   
}
.artist {
    letter-spacing:2px;
    padding:6px;
    width:95%;
 
  
  
}
 
.album {
   padding:6px;
   width:90%;

  
}
 
 
 .artist, .album, .trackname {
     padding-left:40px;
 }
 
 
 
#audiopost {
   width:{text:post size}px;
   {block:permalinkpage}
   width:500px;
   {/block:permalinkpage}
   
   
}

.im,.phot {
    position:relative;
    transition:.6s;
    overflow:hidden;
}

.posts img, .posts iframe {
    display:block;
}


.tags {
   display:inline-block;
}

.date {
    margin:0px 0 0 10px;

    position:relative;
}

.date a {
    color:{color:text};
    display:inline-block;
}

header .th-circle:last-of-type {
    display:none;
}

header .th-circle:before {
    height:100%;
    transform:translateY(0px) translateX(2px);

}

.th-circle:before {
    width:24px;
    color:{color:links};
    height:100%;
    transform:translateY(-4px) translateX(-2px);
    font-size:4px;
    display:flex;
    align-items:center;
    justify-content:center;
}

figcaption, .reblog-list {
    padding:20px;
}
.photos .date {
    width:100%;
    background:rgba(0,0,0,.008);
    padding:20px;
    border-bottom:1px solid {color:border};
}

:not(.photos) .date {

    width:100%;
    text-align:center;
    margin:auto;
}

.photos .date {
    text-align:left;
}
.info a {
    border:none;
    color:{color:text};
}

.info i {
    margin-left:10px;
}

blockquote {
    border-left:4px solid {color:border};
    padding:4px;
    background:#f8f8f8;
}

.quote {
    background:{color:posts};
    padding:40px;
    width:100%;
    font-size:1.12em;
    border:1px solid {color:border};
    text-align:center;
}

.source {
    
}

.source {
    padding:10px;
}

.ask {
    display:flex;
    align-items:center;
}

.askerportrait {
    display:inline-block;
}



#pagination {
    display:flex;
    margin:50px auto 0 16%;
    width:calc(100vw - 16%);
    align-items:center;
    padding:20px 0;
    border-top:1px solid {color:border};
    border-bottom:1px solid {color:border};
    flex-wrap:wrap;
    justify-content:space-around;
}

#paginaion a {
    margin:10px;
}

.jump_page, .current_page {
    width:40px;
    border-radius:100%;
    height:40px;
    margin:0 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#f8f8f8;
}


.askerportrait{
    float:left;
    position:absolute;
    margin-top:30px;
    margin-left:10px;
    position:absolute;
}

.speechbubble {
    padding:20px;
    top:0px;
    width:calc(100% - 100px);
    margin-left:60px;
    background:#f8f8f8;
}

footer {
    width:calc(100% - 16%);
    margin:0 0 0 16%;
    padding-top:40px;
    flex-wrap:wrap;
    min-height:30vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

footer h1 {
    padding:0 30px;
    min-width:25%;
}

#search {
    width:30%;

}
.copyright {
    width:100%;
    align-self:flex-end;
    text-align:center;
    padding:10px 0px;
    border-top:1px solid {color:border};
    background:rgba(0,0,0,.012);
}
                   
.search-scope {
    font-size: 18px;
    text-align: center;
}
 
#search-scope input, #search-scope label {
    cursor: pointer;
    
}


                       
#search form {
    position:relative;
    width:100%;
    padding:6px;
    transition:.4s;
}
                                                       
#search form .query {
    position:relative;
    background: transparent;
    outline: none;
    border:none;
    background:{color:background};
    border:1px solid {color:border};
    width: 80%;
    border-radius:30px;
    padding:10px 12px;
}
                                                       

::placeholder {
    color:#000;
}


/* ------------
 
 05. Responsive
 
 ------------ */

 @media (max-width:1000px){
    
     main {
         width:70%;
         margin:auto;
         left:0px;
         column-count:1;
     }
     
     section {
         width:70%;
     }
     
.im img {
    max-width:100%;
}
.desc, .links {
    width:100%;
}

.links {
    margin-top:10px;
}

 }
 
 .mob {
     display:none;
 }
 
 #egg { 
    right:10px; bottom:10px;
    position:fixed; 
    display:block; 
    width: 14px; height: 18px; 
    background-color:#FFFEFC; -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px; border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
border:1px solid #aaa; 
z-index:4;
transform:scale(1.02);
}
 #egg:hover   { animation-name: egg;
    animation-duration: 1s;
    animation-iteration-count: infinite;}
    @keyframes egg{
        0%{}
        10%{transform:rotate(20deg) scale(1.12)}
        80%{transform:rotate(-20deg)}
        100%{}
    }

  @media (max-width:900px){
 .photos .date,  figcaption, .reblog-list {
    padding:10px;
}
     
aside, aside.slide {
    z-index:-1;
    width:8%;
}
     
    main, section, .posts, ol.notes, #disqus_thread {
         width:90%;
         margin:100px auto;
     }
     
    
     
     .caption {
         background:{color:posts};
         margin-top:10px;
     }

     
     .caption, .mob, .im {
         width:100%!important;
     }
     
     .im {
         margin-left:20px;
     }
      footer, #pagination {
    margin-left:4%;
     width:calc(100vw - 8%);
 }
 footer h1 {
     width:auto;
 }
 footer {
     padding:0;
     height:auto;

 }
 #search {
    margin:20px auto;
     width:80%;
 }
 
#search form .query {
     width:100%;
 }
 
 .copyright {
     margin-left:5%;
 }
 }
 

 
 .video {
     width:50%;
     
 }
 .video iframe {
     width:100%;
 }
